<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="josequilodran.drfrogo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/drfrogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/drfrogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="josequilodran.drfrogo2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="josequilodran.drfrogo2.levels_1p" />
        <activity android:name="josequilodran.drfrogo2.level_1" />
        <activity android:name="josequilodran.drfrogo2.level_2" />
        <activity android:name="josequilodran.drfrogo2.level_3" />
        <activity android:name="josequilodran.drfrogo2.level_4" />
        <activity android:name="josequilodran.drfrogo2.level_5" />
        <activity android:name="josequilodran.drfrogo2.motor" />
        <activity android:name="josequilodran.drfrogo2.ayuda"/>
    </application>

</manifest>